.appLayout {
    height: 100%;
}
.claro .edgePanelBottom {
    background-color: #000000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
    height: 210px;
    /*display: none;*/
    overflow: hidden;
}

.claro .edgePanelTop {
    background-color: #000000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
    background-color: #000000;
    color: #ffffff;
    height: 50px;
}

.claro .edgePanelCenter {
    background-color: #000000;
    color: #000000;
    padding: 0;
    margin: 0;
}

.claro .edgePanelLeft {
    background-color: #000000;
    color: #ffffff;
}

.claro .searchPanelCenter {
    background-color: #000000;
    color: #ffffff;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.claro .searchPanelLeft {
    background-color: #000000;
    color: #ffffff;
    width: 10em;
    overflow: hidden;
}

.panelBreak {
    position: relative;
    /*	height: auto; */
    width: 10px;
    float: left;
    display: block;
    background: url("images/break.png") no-repeat;
}

.claro .dijitTabContainer {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    float: left;
    display: inline;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 0px;
    font-size: 14pt;
}

.claro .resultItem {
    width: 100%;
    line-height: 45px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: none;
    _background-image: none;
    border: 0px;
}

.claro .resultPane {
    font-size: 12pt;
    height: 80%;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 4px;
    padding: 0px;
    color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(102,102,102,0.80);
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
}

.panelInfo {
    position: relative;
    font-size: 12pt;
    color: #ffffff;
}

.panelInfoLabel {
    position: relative;
    font-size: 18pt;
    color: #ffffff;
    float: left;
}

.claro .resultsPanelLeft {
    background-color: #000000;
    color: #ffffff;
    width: 20em;
}


.claro .resultsPanelCenter {
    background-color: #000000;
    color: #ffffff;
    width: 20em;
}


.userControls {
    border-radius: 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    padding: 2px 8px 4px 8px;
}


.claro * {
    outline: none;
}