.basemapButton {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
     outline: 0;
}
.basemapButton .dijitTitlePaneTextNode .dijitTitlePaneTitleClosed .dijitClosed .dijitTitlePaneTitleFocus .dijitTitlePane {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

.basemapButton .dijitTitlePaneTitle {
  
    background-color: rgba(128, 128, 128,.8);
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    outline: 0;
}