
/* Controls */
.add-button {
    float: left;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 48px;
    width: 48px;
    background: url(../images/add.png) no-repeat center center;
}
.esriRTL .add-button {
    float: right;
}
.add-button-selected {
    float: left;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 48px;
    width: 48px;
    background: url(../images/add-selected.png) no-repeat center center;
}
.esriRTL .add-button-selected {
    float: right;
}

.delete-button {
    float: left;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 48px;
    width: 48px;
    background: url(../images/erase.png) no-repeat center center;
}
.esriRTL .delete-button {
    float: right;
}

.run-button {
    float: left;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 48px;
    width: 48px;
    background: url(../images/run.png) no-repeat center center;
}
.esriRTL .run-button {
    float: right;
}
.run-button-disabled {
    float: left;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 48px;
    width: 48px;
    background: url(../images/runDisabled.png) no-repeat center center;
}
.esriRTL .run-button-disabled {
    float: right;
}

.save-button {
    float: left;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 48px;
    width: 48px;
    background: url(../images/upload.png) no-repeat center center;
}
.esriRTL .save-button {
    float: right;
}
.save-button-disabled {
    float: left;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 48px;
    width: 48px;
    background: url(../images/uploadDisabled.png) no-repeat center center;
}
.esriRTL .save-button-disabled {
    float: right;
}
.save-button-processing {
    float: left;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 48px;
    width: 48px;
    background: url(../images/locate-spinner.gif) no-repeat center center;
}
.esriRTL .save-button-processing {
    float: right;
}
